.page-1 {
  background: #4f4f4f;
  background: radial-gradient(circle, #4f4f4f 0%, #222222 50%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f4f4f",endColorstr="#000000",GradientType=1);
  height: 100vh;
  width: 100%;
}

.page-1 header {
  width: 90%;
  margin: auto;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-1 header .logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-1 header .logo img {
  width: 50px;
  height: auto;
  border-radius: 50%;
}

.page-1 header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0.7;
      -ms-flex: 0.7;
          flex: 0.7;
}

.page-1 header nav .orderBtn {
  background-color: red;
  border-radius: 5px;
  padding: 2px 7px;
  font-weight: 600;
}

.page-1 .camera {
  position: absolute;
  width: 750px;
  height: auto;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.page-1 .m6 {
  font-family: "Lobster", cursive;
  color: #fff;
  font-weight: 400;
  position: absolute;
  left: 25%;
  top: 20%;
  font-size: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.page-1 .info {
  color: #fff;
  position: absolute;
  right: 25%;
  bottom: 30%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.page-1 .info p {
  opacity: 0.6;
  margin-top: 20px;
}

footer {
  z-index: 3;
  width: 100%;
  height: 10vh;
  background-color: #000;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
  color: #fff;
}

footer .footer .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer .social-links .twitter-link, footer .footer .social-links .insta-link {
  width: 42px;
  height: auto;
  margin: 0 5px;
}

footer .footer .social-links .yt-link {
  width: 34px;
  height: auto;
  margin-left: 7px;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .overlay-active {
    width: 100%;
    height: 100vh;
    z-index: 4;
    background-color: rgba(1, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
  }
  .page-1 nav {
    position: absolute;
    top: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90%;
    width: 25%;
    background-color: #494949;
    z-index: 5;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .page-1 nav a {
    margin: 50px 0;
  }
  .page-1 nav .link1 {
    margin-top: 15vh;
  }
  .page-1 .nav-active {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  .page-1 .burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 5;
    cursor: pointer;
  }
  .page-1 .burger .line1, .page-1 .burger .line2, .page-1 .burger .line3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  @-webkit-keyframes line1 {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
  }
  @keyframes line1 {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
  }
  @-webkit-keyframes line2 {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @keyframes line2 {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  @-webkit-keyframes line3 {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  @keyframes line3 {
    from {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    to {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  }
  .page-1 .m6 {
    font-size: 32px;
  }
  .page-1 .camera {
    width: 500px;
  }
  .page-1 .info h3 {
    font-size: 15px;
  }
  .page-1 .info p {
    font-size: 10px;
  }
}

.page-2 {
  width: 100%;
  height: 100vh;
  background: #4f4f4f;
  background: radial-gradient(circle, #4f4f4f 0%, #222222 50%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f4f4f",endColorstr="#000000",GradientType=1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-2 h1 {
  margin-top: 100px;
  color: #fff;
  font-family: "Lobster", cursive;
  text-align: center;
  font-size: 64px;
  margin-bottom: 0;
  font-weight: 400;
}

.page-2 .cards {
  width: 80%;
  height: 50%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-2 .cards .card {
  width: 25%;
  height: 90%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
}

.page-2 .cards .card h3 {
  margin: 0 8px 10px 8px;
}

.page-2 .cards .card p {
  margin: 0 8px 15px 8px;
}

.page-2 .cards .card .img-case-1,
.page-2 .cards .card .img-case-2,
.page-2 .cards .card .img-case-3 {
  width: 100%;
  height: 45%;
  margin: auto auto 20px auto;
}

.page-2 .cards .card .img-case-1 {
  background-image: url("../Ed/card1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-2 .cards .card .img-case-2 {
  background-image: url("../Ed/card2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-2 .cards .card .img-case-3 {
  background-image: url("../Ed/card3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 1200px) {
  .page-2 .cards {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  .page-2 h1 {
    font-size: 38px;
    margin-bottom: 20px;
  }
  .page-2 .cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90%;
  }
  .page-2 .cards .card {
    width: 60%;
    height: 60%;
    margin-bottom: 20px;
  }
}

.page-3 {
  width: 100%;
  height: 100vh;
  background: #4f4f4f;
  background: radial-gradient(circle, #4f4f4f 0%, #222222 50%, black 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4f4f4f",endColorstr="#000000",GradientType=1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-3 h1 {
  color: #fff;
  font-family: "Lobster",cursive;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 40px;
}

.page-3 .circ {
  width: 450px;
  height: 450px;
  background-color: red;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-3 .circ img {
  width: 85%;
  height: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 30px black;
          box-shadow: 0px 0px 30px black;
}

.page-3 h3 {
  color: #fff;
  margin-top: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  color: white;
  outline: none;
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 3%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.dots .dot {
  width: 15px;
  height: 15px;
  background-color: #d1d1d1;
  border-radius: 50%;
  margin: 5px 0;
}

@media screen and (max-width: 768px) {
  .dots {
    display: none;
  }
}

@media screen and (max-width: 930px) {
  .dots .dot {
    width: 10px;
    height: 10px;
  }
}
/*# sourceMappingURL=style.css.map */
